{% embed 'artisan_caminofrances:page-login-password' with {
  main_attributes: create_attribute({'class': ['container', 'py-5']}),
  title: 'Forgot your <br>' ~ '<p class="text-primary">password?</p>',
  description: 'Introduce your email and we will send you a new one as soon as possible',
  image: logo_path,
  main_content: page.content,
} only %}
{% endembed %}
