{% embed 'artisan_caminofrances:page-login-password' with {
  main_attributes: create_attribute({'class': ['container', 'py-5']}),
  title: 'Welcome to <br>' ~ '<p class="text-primary">' ~ site_name ~ '</p>',
  description: 'Please login to continue.',
  image: logo_path,
  main_content: page.content,
} only %}
{% endembed %}
