.page-kioskh {
  display: flex;
  flex-direction: column;
  gap: 0;
  min-height: calc(100vh - var(--gin-toolbar-y-offset, 0px) - var(--enviroment-indicator-border-width, 0px));
}
.page-kioskh > header.header {
  position: sticky;
  top: calc(var(--gin-toolbar-y-offset, 0px) + var(--enviroment-indicator-border-width, 0px));
  z-index: 99;
  order: -99;
  height: 110px;
  padding: 1rem;
  background: var(--theme-kiosk-color-secondary, #fff);
}
.page-kioskh > header.header > .max-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
.page-kioskh > header.header > .max-wrapper .block-system-branding-block {
  margin-right: auto;
}
.page-kioskh > header.header > .max-wrapper .block-system-branding-block ~ div:not(:last-child) {
  border-right: 3px solid var(--theme-kiosk-color-primary, #006d94);
  padding-right: 3.1rem;
}
.page-kioskh > header.header .navbar-brand__logo {
  width: 170px;
}
.page-kioskh > header.header-menu {
  margin-top: auto;
  position: sticky;
  bottom: 0;
  padding: 0.6em;
  z-index: 999;
  background: var(--theme-kiosk-color-primary, #006d94);
  color: var(--theme-kiosk-color-secondary, #fff);
  height: 208px;
}
.page-kioskh > header.header-menu > .max-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
.page-kioskh > header.header-menu > .max-wrapper > .block--system-menu {
  max-width: calc(100% - 15rem);
  overflow-x: auto;
}
.page-kioskh > header.header-menu > .max-wrapper > .block--system-menu::-webkit-scrollbar {
  height: 5px;
  background: var(--theme-kiosk-color-secondary, #fff);
  border-radius: 0.375rem;
}
.page-kioskh > header.header-menu > .max-wrapper > .block--system-menu::-webkit-scrollbar-track {
  background: transparent;
}
.page-kioskh > header.header-menu > .max-wrapper > .block--system-menu::-webkit-scrollbar-thumb {
  background-color: #111;
  border-radius: 0.375rem;
}
.page-kioskh > header.header-menu > .max-wrapper > .header-menu-actions {
  width: 15rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-end;
  font-family: "Arima", system-ui;
  font-weight: bold;
}
.page-kioskh > header.header-menu > .max-wrapper > .header-menu-actions .dropdown > a.dropdown-toggle {
  color: var(--theme-kiosk-color-secondary, #fff);
  text-decoration: none;
}
.page-kioskh > header.header-menu > .max-wrapper > .header-menu-actions .dropdown-menu {
  font-size: 1.1em;
}
.page-kioskh > header.header-menu > .max-wrapper > .header-menu-actions .dropdown-item {
  font-weight: bold;
}
.page-kioskh > header.header-menu > .max-wrapper > .header-menu-actions > div {
  width: 100%;
  border: 1px solid var(--theme-kiosk-color-secondary, #fff);
  border-radius: 0.3em;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
}
.page-kioskh > header.header-menu > .max-wrapper > .header-menu-actions > div ul.list-unstyled {
  margin: 0;
}
.page-kioskh > header.header-menu .block-system-menu-blocktown-hall-menu .navbar-nav > .nav-item:first-child > .nav-link[data-drupal-link-system-path="<front>"],
.page-kioskh > header.header-menu .block-system-menu-blockmain .navbar-nav > .nav-item:first-child > .nav-link[data-drupal-link-system-path="<front>"] {
  display: block;
}
.page-kioskh > main {
  order: -1;
}
.page-kioskh > main .block-artisan-caminofrances-content {
  contain: paint;
}
.page-kioskh .block-system-menu-blocktown-hall-menu .nav {
  --bs-nav-link-color: #495057;
  --bs-link-color-rgb: #495057;
}
.page-kioskh h1, .page-kioskh .h1, .page-kioskh h2, .page-kioskh .h2 {
  color: var(--theme-kiosk-color-primary, #006d94);
}

.share-buttons {
  display: none !important;
}

.max-wrapper {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
.max-wrapper.content-heading {
  max-height: 1080px;
}

.caminofrances-town-hall-context-title a {
  font-family: "Arima", system-ui;
  font-size: 2.5rem;
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--theme-kiosk-color-primary, #006d94);
  padding-top: 0.25em;
  display: block;
}
.caminofrances-town-hall-context-title a.current-page {
  pointer-events: none;
  cursor: default;
}

html {
  scroll-padding-top: calc(1rem + 110px) !important;
}

.caminofrances-town-hall-context-time .real-time {
  font-size: 2.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: var(--theme-kiosk-color-primary, #006d94);
}

.block-caminofrances-town-hall-weather.block--unavailable {
  display: none;
}

.town-hall-weather-block {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.town-hall-weather-block .humidity-wrapper,
.town-hall-weather-block .min-max-temperature-wrapper {
  font-weight: bolder;
  text-align: center;
  color: var(--theme-kiosk-color-primary, #006d94);
}
.town-hall-weather-block .humidity-wrapper {
  font-size: 2rem;
  border-right: 3px solid var(--theme-kiosk-color-primary, #006d94);
  padding-right: 3.1rem;
  line-height: 1.2;
}
.town-hall-weather-block .min-max-temperature-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}
.town-hall-weather-block .min-max-temperature-wrapper .min-max-temperature-inner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}
.town-hall-weather-block .min-max-temperature-wrapper img {
  filter: drop-shadow(0px 100px 0 var(--theme-kiosk-color-primary, #006d94));
  transform: translateY(-100px);
  scale: 1.5;
  margin-right: 0.5rem;
}
.town-hall-weather-block .label {
  font-size: 1.25rem;
  font-weight: normal;
}

img.header-escudos {
  height: 60px;
  width: auto;
}

body.hide-cookiesjsr #cookiesjsr {
  display: none !important;
}

/*# sourceMappingURL=page-kioskh.css.map*/