<div class="town-hall-content-top-kioskv max-wrapper">
  <div class="swiper">
    <div class="swiper-wrapper">{{ slides }}</div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
